@import url('https://fonts.googleapis.com/css2?family=Petrona&display=swap');

body#siteBody {
  place-items: start;
}

#root {
  max-width: 1280px;
  margin: 2rem auto 1rem;
  padding: 2rem;
  text-align: center;
}

header h1 {
  margin-bottom: 0;
}
header p {
  margin-bottom: 2rem;
}

#ageEntry .css-1u3bzj6-MuiFormControl-root-MuiTextField-root.MuiFormControl-root {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#ageEntry button.MuiButton-text,
#ageEntry button.MuiButton-contained {
  display: block;
  margin: auto;
}

footer {
  margin-top: 2rem;
}

footer .note {
  margin-bottom: 1rem;
}

footer p {
  font-size: .9rem;
}

footer .note p {
  margin-block-start: .2em;
  margin-block-end: .2em;
}
